body{
	min-width: 1200 px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-style: normal;
}

li { list-style: none; }

a { text-decoration: none;}

h1,h2,h3,h4 { text-align: center; }

.hidden {
  display: none;
}

.h3__title {
	padding-top: 85px;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	color: #4E4E4E;
}

.line {
	position: relative;
	display: inline-block;
	margin-bottom: 69px;
	width: 79px;
	height: 4px;
	border-bottom: solid 1.5px #18CFAB;
}
.line::before {
	content: "";
	position: absolute;
	width: 79px;
	height: 4px;
	border-bottom: solid 1.5px #18CFAB;
	top: 3px;
	left: 30px;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 15px; 
}
				/* Header */
.header {
	background-image: url(../images/background/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1012px;  
	margin-bottom: 8px;
	background-attachment: fixed;
}
.header__top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 264px;
	height: 120px;
	background: rgba(94, 93, 88, 0.6);
}
.header__navigation {
	display: flex;
	align-items: center;
	margin-right: 50px;
}
.header__list-item { margin-right: 21px; }
.header__list--link{
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	border-bottom: 3px solid transparent;
	transition: all .5s;    
	margin: 0 6px;
	padding-bottom:47px;
}
.header__list--link:hover {
	color: #18CFAB;
	border-bottom: 3px solid #18CFAB;
}
.fa-search {
	background-image: url(../images/header/fa-search\ \(&#xf002;\)\ 1.png);
}
.fa-search::before {
	content: "\f002";
	font-family: FontAwesome;
	color: gray;
}
.header__inner { margin-bottom: 127px; }
.header__subtitle-top {
	font-size: 35px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 22px;
}
.header__subtitle-topColor{
	color: #18CFAB;
}
.header__inner-title {
	font-size: 78px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.header__inner-text {
	color: grey;
	font-size: 35px;
	font-weight: 300;
}

.container-btn {
	display: flex;
	justify-content: center;
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 169px;
	height: 63px;
	padding: 0;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	background-color: white;
}

.span-btn {
	display: flex;
	width: 169px;
	height: 53px;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 32px;
	background-color: #18CFAB;
}
.btn-turquoise {
	margin-right: 26px;
}
.span-blue {
	background: #00CBF6;
}



.description-wrapper-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 224px;
}

.description-item {
	width: 100%;
	height: 377px;
  padding: 2px;
	border-top: white solid 10px;
	display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: #18cfab;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.dark-item {
  background-color: #1c2a33;
  color: #18cfab;
}








.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 91px;
}

.nav-list {
	display: flex;
	text-align: center;
	margin-bottom: 28px;
}

.nav__linst-item {
	position: relative;
	cursor: pointer;
	padding-top: 18px;
	width: 192px;
	height: 72px;
	font-size: 16px;
	line-height: 39px;
	font-weight: normal;
	color: #717171;
	background: #F8FCFE;
	border: 1px solid #EDEFEF;
}

.nav__linst-item:hover{
	background: #18CFAB;
	color: #FFFFFF;
}

.nav__linst-item:hover::before { display: block }

.nav__linst-item::before{
	content: "";
	display: none;
	position: absolute;
	border: 20px solid transparent; border-top: 20px solid #18CFAB;
	bottom: -40px;
	left: 75px;
}

.nav__img-text { 
  float: left;
  padding-right: 15px;
}

.nav__text-box { text-align: left; }

.nav_content-img {
	width: 192px;
	height: 139px;
}

.nav__text {
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;  
}

.nav__text-box-none {
	display: none;
}

.section-img {
	background-image: url(../images/background/section.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 476px;
	background-attachment: fixed
}
.section-img_inner { text-align: center;}

.section-img_title {
	padding-top: 126px;
	padding-bottom: 12px;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #18CFAB;
}
.section-img_text {
	font-size: 16px;
	line-height: 40px;
	font-style: normal;
	font-weight: normal;
	color: #D8D8D8;
	padding-bottom: 62px;
}

.btn-img {
	display: flex;
}

			/* Section Work */
.section_work {
	text-align: center;
	background: #E9EDEF;
	padding-bottom: 100px;
}
.section-title {padding-top: 96px;}

.section__navigation-container { padding-bottom: 71px; }

.section__navigation {
	display: flex;
	justify-content: center;
}
.section__linst-item {
	padding: 10px 16px 13px 16px;
	height: 60px;
	border: 1px solid #DADADA;
	font-size: 14px;
	line-height: 42px;
	font-weight: normal;
	color: #717171;
}
.section__linst-item:first-child {
	width: 80px;
}
.section__linst-item:hover{
	cursor: pointer;
	border-color: #18CFAB;
	transition: 1s;
}
.section__linst-item:hover >a {
	transition: 1s;
	color:#18CFAB
}

.section-box_img {
	display: grid;
	grid-template-columns: repeat(4, 0fr);
	grid-template-rows: repeat(4, 0fr);
	gap:0;
	margin-bottom: 70px;
}

.section-img_item {
	position: relative;
}

.btn-load {
	width: 168px;
  height: 63px;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #18cfab;
  cursor: pointer;
	padding-left: 55px;
	padding-bottom: 2px;
}
.btn-load::after {
	position: relative;
  content: url(../images/Forma\ 1.png);
  right: 110px;
  top: 3px;
}

					/* Section News */
.section_news {text-align: center;}

.section_news-title { margin-top: 80px; }

.section_news-box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-bottom: 130px;
}

.section_news-inner:hover >span {
	transition: 1s;
	color: #18CFAB;
}
.section_news-inner:hover >div:nth-child(2) {
	background: #18CFAB;
}

.section_news-box-text {display: inline-block;}

.section_news-box-text p:nth-child(1) { float:left; }

.section_news-box-text p:nth-child(2) { float:right; }

.section_news-text-Admin {
	font-weight: 300;
	font-size: 13.991px;
	line-height: 39px;
	color: #777777;
	padding-right: 25px;
}
.section_news-text-Admin::after {
	content: "|";
	position: relative;
	left: 10px;
}
.section_news-text {
	font-weight: 300;
	font-size: 13.991px;
	line-height: 39px;
	color: #777777;
}
.section_news-img {
	position: relative;
	cursor: pointer;
}

.section_news-img_inner {
	position: absolute;
	top: 0;
	right: 10px;
	width: 70px;
	height: 68px;
	background: #203E38;
	padding-top:10px;
}
.news-img_inner-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
}
.section_news-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 39px;
	color: #717171;
}
.section_news-title:hover {
	transition: 1s;
	cursor: pointer;
	color: #18CFAB;
}
.section_news-img:hover .section_news-img_inner{
	transition: 1s;
	background-color: #18CFAB;
}

					/* Slider */

.slider {
	background-image: url(../images/background/section2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 853px;
	background-attachment: fixed;
	text-align: center;
}
.slider-title {
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: normal;
}

.section-quotes {
	color: #18CFAB;
	font-family: "Rozha One", serif;
	font-size: 100px;
	position: relative;
	left: -60px;
	top: 66px;
}


.bg-slider {
	margin-bottom: 36px;
}

.people-slider {
	width: 485px;
	position: absolute;
	padding: 0 40px;
	right: 442px;
}

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
}

.people-slider .slick-arrow {
	position: absolute;
	font-size: 0;
	top: 30%;
	z-index: 1;
	width: 31px;
	height: 31px;
	background-color: rgba(0, 0, 0, 0.0001);
	border: 1px solid #BBBBBB;
	cursor: pointer;
}

.slider-person {
	margin-top: 36px;
}


.people-text {
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	color: #BBBBBB;
	margin: 36px 15px 37px 15px;
}

.people-name {
	font-size: 16px;
	font-weight: 700;
	color: #18CFAB;
	margin-bottom: 13px;
}

.people-work {
	font-size: 13px;
	font-weight: 300;
	color: #717171;
	margin-bottom: 38px;
}

.people-img {
	border: solid 5px rgba(30, 130, 120, 0.5);
	margin-bottom: 38px;
	object-fit: cover;
	width: 150px;
	height: 160px;
	font-size: 30px;
	border-radius: 100px;
	
}
.slider-item-img {
	border: solid 5px rgba(30, 130, 120, 0.5);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 10px;
	cursor: pointer; 
}


.people-slider .slick-arrow.slick-prev:hover,
.people-slider .slick-arrow.slick-next:hover {
	background-color: #18CFAB;
	border: none;
}

.people-slider .slick-current {
	margin-top: -9px;
}

.slick-slide img {
	display: inline;
}


/* footer */
.footer {
	display: flex;
	background-color: #22353f;
	color: #8a8a8a;
	align-items: center;
	justify-content: center;
	height: 121px;
	font-size: 14px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
}

.footer span {
	padding-left: 5px;
}
.footer-color-text {
	color:#18CFAB ;
}
.footer-rights::before {
content: "|";
color: #8a8a8a;
font-size: 14px;
padding-right: 5px;
}






