@import './mixins';

.price {
  background-color: $g-section-background;
  @include flex-center-column;
    padding: 0 20px;
  &__title{
    font-size: 28px;
    line-height: 42px;
    font-weight: bold;
    font-family: $g-main-font-family;
    color: $g-light-text-color;
    padding-bottom:32px;  
    
  }
  .price__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 94px;
  }
  .price__item {
    width: 257px;
    height: 457px;
    border: 1px solid #695B6A;
    margin-bottom: 18px;
    background-color: #5F5161;
    text-align: center;
  }
 .price__active {
  width: 299px;
  height: 560px;
  background: #463048;
 }
 .active__subtitle{
    height: 111px;
    background: #000000;
    height: 97px;
    padding: 36px 60px;
    background: #3F2C41;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family:$g-main-font-family;
 }
 .active__span {
  font-family: $g-main-font-family;
  font-size: 82px;
  line-height: 84px;
  color: $g-light-text-color;
  display:block;
  margin: 30px 0 20px 0;
 }
 .active__month {
  display: block;
  position: relative;
  margin-bottom: 73px;
  font-size: 14px;
  line-height: 16px;
  font-family: $g-main-font-family;
  text-transform: uppercase;
  color:$g-light-text-color;
  &::before {
    content: '';
    position: absolute;
    top: 38px;
    right: 117px;
    width: 60px;
    height: 5px;
    border: solid #8D81AC;
  }
}
.active__personal {
  display: block;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 18px;
  font-family: $g-main-font-family;
  color:$g-light-text-color;
  padding:  25px  25px;
  line-height: 30px;

}

  .box__subtitle {
    height: 97px;
    padding: 40px 31px;
    background: #695B6A;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family:$g-main-font-family;
  }
  }
  .box__span {
    font-size: 60px;
    line-height: 62px;
    color: $g-light-text-color;
    display:block;
    margin: 30px 0 20px 0;
    font-family: $g-main-font-family;
  }
  .box__month {
    display: block;
    position: relative;
    margin-bottom: 73px;
    font-size: 14px;
    line-height: 16px;
    font-family: $g-main-font-family;
    text-transform: uppercase;
    color:$g-light-text-color;
    &::before {
      content: '';
      position: absolute;
      top: 38px;
      right: 95px;
      width: 60px;
      height: 5px;
      border: solid #8D81AC;
      
    }
  }
  .box__personal {
    display: block;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 18px;
    font-family: $g-main-font-family;
    color:$g-light-text-color;
    padding: 0 25px 0 25px;
    line-height: 30px;

  }
  .box__btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    width: 163px;
    height: 45px;

    font-size: 15px;
    line-height: 15px;
    font-family: $g-main-font-family;
    color:$g-light-text-color;
    text-transform: uppercase;
    background-color: #776B79;
  }
  .tool {
    left: 46px;
  }
  .stuf {
    left:40px
  }

  .better {
    left: 40px;
  }

@media(min-width:$g-medium-screen) {
  .price {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    &__title {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 39px;
    }
    &__list {
      padding: 0 70px;
    }
    &__title {
      display: block;
      margin-bottom: 112px;
    }
  }
  .price__item {
    margin-right: 25px;
  }
  .price .price__active {
    margin-top: -30px;
    margin-left: -44px;
  }

.price__item:nth-child(2) {
  margin-bottom: 70px;
}

}

@media(min-width:$g-large-screen) {
  .price {  
    display: flex;
    flex-wrap: nowrap;
    &__title {
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 60px;
    }
    .price__list {
    justify-content: left;
    padding: 0;
  }
  .price__item {
    margin-left: 0px;
    margin-right: 10px;
  }
}
}