$g-main-font-family: "Montserrat";
$g-text-font-family: "Lato";

$g-header-background: rgba(39, 38, 42, 1);
$g-highlignt-color: rgba(141, 129, 172, 1);
$g-text-color: rgba(132, 142, 151, 1);
$g-minor-text-color: rgba(162, 145, 165, 1);
$g-line-color: rgba(100, 87, 102, 1);

$g-dropdown-background: rgba(59, 59, 59, 1);
$g-dropdown-item-background: rgba(51, 51, 51, 1);
$g-section-background: rgba(74, 59, 78, 1);

$g-light-text-color: rgba(255, 255, 255, 1);

$g-small-screen: 321px;
$g-medium-screen: 481px;
$g-large-screen: 993px;

$g-animation-speed: 300ms;
